{% extends "base.html" %}

{% block content %}
<!--  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">-->

<!--    &lt;!&ndash;Indicators&ndash;&gt;-->
<!--    <ol class="carousel-indicators">-->
<!--      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>-->
<!--      <li data-target="#carousel-example-1z" data-slide-to="1"></li>-->
<!--      <li data-target="#carousel-example-1z" data-slide-to="2"></li>-->
<!--    </ol>-->
<!--    &lt;!&ndash;/.Indicators&ndash;&gt;-->

<!--    &lt;!&ndash;Slides&ndash;&gt;-->
<!--    <div class="carousel-inner" role="listbox">-->

<!--      &lt;!&ndash;First slide&ndash;&gt;-->
<!--      <div class="carousel-item active">-->
<!--        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">-->

<!--          &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">-->

<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="text-center white-text mx-5 wow fadeIn">-->
<!--              <h1 class="mb-4">-->
<!--                <strong>Learn Bootstrap 4 with MDB</strong>-->
<!--              </h1>-->

<!--              <p>-->
<!--                <strong>Best & free guide of responsive web design</strong>-->
<!--              </p>-->

<!--              <p class="mb-4 d-none d-md-block">-->
<!--                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and-->
<!--                  written versions-->
<!--                  available. Create your own, stunning website.</strong>-->
<!--              </p>-->

<!--              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start-->
<!--                free tutorial-->
<!--                <i class="fas fa-graduation-cap ml-2"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->

<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;/First slide&ndash;&gt;-->

<!--      &lt;!&ndash;Second slide&ndash;&gt;-->
<!--      <div class="carousel-item">-->
<!--        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">-->

<!--          &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">-->

<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="text-center white-text mx-5 wow fadeIn">-->
<!--              <h1 class="mb-4">-->
<!--                <strong>Learn Bootstrap 4 with MDB</strong>-->
<!--              </h1>-->

<!--              <p>-->
<!--                <strong>Best & free guide of responsive web design</strong>-->
<!--              </p>-->

<!--              <p class="mb-4 d-none d-md-block">-->
<!--                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and-->
<!--                  written versions-->
<!--                  available. Create your own, stunning website.</strong>-->
<!--              </p>-->

<!--              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start-->
<!--                free tutorial-->
<!--                <i class="fas fa-graduation-cap ml-2"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->

<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;/Second slide&ndash;&gt;-->

<!--      &lt;!&ndash;Third slide&ndash;&gt;-->
<!--      <div class="carousel-item">-->
<!--        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">-->

<!--          &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">-->

<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="text-center white-text mx-5 wow fadeIn">-->
<!--              <h1 class="mb-4">-->
<!--                <strong>Learn Bootstrap 4 with MDB</strong>-->
<!--              </h1>-->

<!--              <p>-->
<!--                <strong>Best & free guide of responsive web design</strong>-->
<!--              </p>-->

<!--              <p class="mb-4 d-none d-md-block">-->
<!--                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and-->
<!--                  written versions-->
<!--                  available. Create your own, stunning website.</strong>-->
<!--              </p>-->

<!--              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start-->
<!--                free tutorial-->
<!--                <i class="fas fa-graduation-cap ml-2"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->

<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;/Third slide&ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash;/.Slides&ndash;&gt;-->

<!--    &lt;!&ndash;Controls&ndash;&gt;-->
<!--    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Next</span>-->
<!--    </a>-->
<!--    &lt;!&ndash;/.Controls&ndash;&gt;-->

<!--  </div>-->

  <main>
    <div class="container">

      <!--Navbar-->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x900/?fasion,shoes" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x900/?fasion,watch" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://source.unsplash.com/1600x900/?fasion,brand" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

<!--        &lt;!&ndash; Navbar brand &ndash;&gt;-->
<!--&lt;!&ndash;        <span class="navbar-brand">Categories:</span>&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Collapse button &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"&ndash;&gt;-->
<!--&lt;!&ndash;          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->

<!--        &lt;!&ndash; Collapsible content &ndash;&gt;-->
        <div class="collapse navbar-collapse" id="basicExampleNav">

<!--          &lt;!&ndash; Links &ndash;&gt;-->
<!--          <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="#">All-->
<!--                <span class="sr-only">(current)</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Shirts</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Sport wears</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Outwears</a>-->
<!--            </li>-->

<!--          </ul>-->
<!--          &lt;!&ndash; Links &ndash;&gt;-->

<!--          <form class="form-inline">-->
<!--            <div class="md-form my-0">-->
<!--              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--            </div>-->
<!--          </form>-->
        </div>
<!--        &lt;!&ndash; Collapsible content &ndash;&gt;-->

      </nav>
<!--      &lt;!&ndash;/.Navbar&ndash;&gt;-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in items %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"-->
                  <img src="{{ item.image.url }}" class="card-img-top">

                <a href="{{ item.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>Rs
                    {% if item.discount_price %}
                    {{ item.discount_price }}
                    {% else %}
                    {{ item.price }}
                    {% endif %}
                  </strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          {% endfor  %}
        </div>
          <!--Grid column-->

          <!--Grid column-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--              <div class="card-body text-center">-->
<!--                &lt;!&ndash;Category & Title&ndash;&gt;-->
<!--                <a href="" class="grey-text">-->
<!--                  <h5>Sport wear</h5>-->
<!--                </a>-->
<!--                <h5>-->
<!--                  <strong>-->
<!--                    <a href="" class="dark-grey-text">Sweatshirt</a>-->
<!--                  </strong>-->
<!--                </h5>-->

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>139$</strong>-->
<!--                </h4>-->

<!--              </div>-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
          <!--Grid column-->

          <!--Grid column-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash;Category & Title&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="" class="grey-text">&ndash;&gt;-->
<!--&lt;!&ndash;                  <h5>Sport wear</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <h5>&ndash;&gt;-->
<!--&lt;!&ndash;                  <strong>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="" class="dark-grey-text">Grey blouse&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="badge badge-pill primary-color">bestseller</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                  </strong>&ndash;&gt;-->
<!--&lt;!&ndash;                </h5>&ndash;&gt;-->

<!--&lt;!&ndash;                <h4 class="font-weight-bold blue-text">&ndash;&gt;-->
<!--&lt;!&ndash;                  <strong>99$</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                </h4>&ndash;&gt;-->

<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
          <!--Grid column-->

          <!--Fourth column-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--              <div class="card-body text-center">-->
<!--                &lt;!&ndash;Category & Title&ndash;&gt;-->
<!--                <a href="" class="grey-text">-->
<!--                  <h5>Outwear</h5>-->
<!--                </a>-->
<!--                <h5>-->
<!--                  <strong>-->
<!--                    <a href="" class="dark-grey-text">Black jacket</a>-->
<!--                  </strong>-->
<!--                </h5>-->

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>219$</strong>-->
<!--                </h4>-->

<!--              </div>-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
          <!--Fourth column-->

<!--        </div>-->
        <!--Grid row-->

        <!--Grid row-->
<!--        <div class="row wow fadeIn">-->

<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--              <div class="card-body text-center">-->
<!--                &lt;!&ndash;Category & Title&ndash;&gt;-->
<!--                <a href="" class="grey-text">-->
<!--                  <h5>Shirt</h5>-->
<!--                </a>-->
<!--                <h5>-->
<!--                  <strong>-->
<!--                    <a href="" class="dark-grey-text">Denim shirt-->
<!--                      <span class="badge badge-pill danger-color">NEW</span>-->
<!--                    </a>-->
<!--                  </strong>-->
<!--                </h5>-->

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>120$</strong>-->
<!--                </h4>-->

<!--              </div>-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->

<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--              <div class="card-body text-center">-->
<!--                &lt;!&ndash;Category & Title&ndash;&gt;-->
<!--                <a href="" class="grey-text">-->
<!--                  <h5>Sport wear</h5>-->
<!--                </a>-->
<!--                <h5>-->
<!--                  <strong>-->
<!--                    <a href="" class="dark-grey-text">Sweatshirt</a>-->
<!--                  </strong>-->
<!--                </h5>-->

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>139$</strong>-->
<!--                </h4>-->

<!--              </div>-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->

<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--              <div class="card-body text-center">-->
<!--                &lt;!&ndash;Category & Title&ndash;&gt;-->
<!--                <a href="" class="grey-text">-->
<!--                  <h5>Sport wear</h5>-->
<!--                </a>-->
<!--                <h5>-->
<!--                  <strong>-->
<!--                    <a href="" class="dark-grey-text">Grey blouse-->
<!--                      <span class="badge badge-pill primary-color">bestseller</span>-->
<!--                    </a>-->
<!--                  </strong>-->
<!--                </h5>-->

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>99$</strong>-->
<!--                </h4>-->

<!--              </div>-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->

<!--          &lt;!&ndash;Fourth column&ndash;&gt;-->
<!--          <div class="col-lg-3 col-md-6 mb-4">-->

<!--            &lt;!&ndash;Card&ndash;&gt;-->
<!--            <div class="card">-->

<!--              &lt;!&ndash;Card image&ndash;&gt;-->
<!--              <div class="view overlay">-->
<!--                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"-->
<!--                  alt="">-->
<!--                <a>-->
<!--                  <div class="mask rgba-white-slight"></div>-->
<!--                </a>-->
<!--              </div>-->
<!--              &lt;!&ndash;Card image&ndash;&gt;-->

<!--              &lt;!&ndash;Card content&ndash;&gt;-->
<!--              <div class="card-body text-center">-->
<!--                &lt;!&ndash;Category & Title&ndash;&gt;-->
<!--                <a href="" class="grey-text">-->
<!--                  <h5>Outwear</h5>-->
<!--                </a>-->
<!--                <h5>-->
<!--                  <strong>-->
<!--                    <a href="" class="dark-grey-text">Black jacket</a>-->
<!--                  </strong>-->
<!--                </h5>-->

<!--                <h4 class="font-weight-bold blue-text">-->
<!--                  <strong>219$</strong>-->
<!--                </h4>-->

<!--              </div>-->
<!--              &lt;!&ndash;Card content&ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash;Card&ndash;&gt;-->

<!--          </div>-->
<!--          &lt;!&ndash;Fourth column&ndash;&gt;-->

<!--        </div>-->
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
<!--      <nav class="d-flex justify-content-center wow fadeIn">-->
<!--        <ul class="pagination pg-blue">-->

<!--          &lt;!&ndash;Arrow left&ndash;&gt;-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#" aria-label="Previous">-->
<!--              <span aria-hidden="true">&laquo;</span>-->
<!--              <span class="sr-only">Previous</span>-->
<!--            </a>-->
<!--          </li>-->

<!--          <li class="page-item active">-->
<!--            <a class="page-link" href="#">1-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">2</a>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">3</a>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">4</a>-->
<!--          </li>-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">5</a>-->
<!--          </li>-->

<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#" aria-label="Next">-->
<!--              <span aria-hidden="true">&raquo;</span>-->
<!--              <span class="sr-only">Next</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>-->
      <!--Pagination-->

    </div>
  </main>

{% endblock content %}


